<div class="row">
    <div class="col-12">
        <label>
            Libellé
            <input type="text" name="name" class="data" placeholder="Administrateur" value="{{ role.name }}" required/>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Statut</span>

        <input type="radio" id="{{ role.id ? 'edit' : 'new' }}-role-active" name="active" class="data" value="1" {{ role.active ? 'checked' }}/>
        <label for="{{ role.id ? 'edit' : 'new' }}-role-active">Actif</label>

        <input type="radio" id="{{ role.id ? 'edit' : 'new' }}-role-inactive" name="active" class="data" value="0" {{ not role.active ? 'checked' }}/>
        <label for="{{ role.id ? 'edit' : 'new' }}-role-inactive">Inactif</label>
    </div>

    {% for menu, permissions in permissions() %}
        <div class="col-md-6 col-12 mt-3">
            <h3>{{ menu }}</h3>

            {% for key, label in permissions %}
                {% set key = constant(key) %}

                <div class="form-check form-switch">
                    <input class="form-check-input data-array" type="checkbox" name="permissions"
                           id="{{ key }}" value="{{ key }}" {{ key in role.permissions ? 'checked' }}>
                    <label class="form-check-label" for="{{ key }}">{{ label }}</label>
                </div>
            {% endfor %}
            {% if menu == 'Autre' %}
                <div class="form-check form-switch">
                    <input class="form-check-input data" type="checkbox" name="allowEditOwnGroupOnly"
                           id="allow-edit-own-group-only" {{ role.allowEditOwnGroupOnly ? 'checked' }}>
                    <label class="form-check-label" for="allow-edit-own-group-only">Autoriser uniquement pour son groupe</label>
                </div>

                <div class="form-check form-switch">
                    <input class="form-check-input data" type="checkbox" name="redirectUserNewCommand"
                           id="redirect-user-new-command" {{ role.redirectUserNewCommand ? 'checked' }}>
                    <label class="form-check-label" for="redirect-user-new-command">Rediriger l'utilisateur sur l'écran "Scan Box"</label>
                </div>

                <div class="form-check form-switch">
                    <input class="form-check-input data" type="checkbox" name="receiveMailsNewAccounts"
                           id="receive-mails-new-accounts" {{ role.receiveMailsNewAccounts ? 'checked' }}>
                    <label class="form-check-label" for="receive-mails-new-accounts">Réception mail création compte</label>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
