{% extends 'template.html.twig' %}

{% block menu %}Opérations{% endblock %}
{% block page %}Commandes client{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('client_order') }}
{% endblock %}

{% block filter_header %}
    {% include 'filters/client_order_filters.html.twig' %}
{% endblock %}

{% block content %}
    {% if no_default_crate_type %}
        <div class="box first-box row client-order-container">
            Aucune caisse par défaut paramétrée
            <a class="w-auto" href="{{ path('settings') }}">cliquez ici</a> pour accéder au
            paramétrage global et en renseigner une.
        </div>
    {% else %}
        <div class="box first-box row client-order-container">
            <input id="starterKit" type="hidden" value="{{ starter_kit | json_encode }}">
            <table id="table-client-order" class="orderRow"
                   data-initial-data="{{ initial_orders }}"
                   data-default-order="{{ orders_order | json_encode }}"></table>
        </div>

        {% include 'operation/client_order/modal/new.html.twig' with {
            clientOrder: new_client_order,
            orderTypes: order_types,
            deliveryMethods: delivery_methods,
            workFreeDay: work_free_day,
            defaultCrateType: default_crate_type
        } %}

        {% if draft_client_order %}
            {% include 'operation/client_order/modal/validation.html.twig' with {
                id: 'modal-validation-client-order-draft',
                clientOrder: draft_client_order,
            } %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('client_order') }}
{% endblock %}
