{% if item.status.code == constant('App\\Entity\\Status::CODE_ORDER_TRANSIT') %}
    {% set statusIcon =  'transit' %}
{% elseif  item.status.code == constant('App\\Entity\\Status::CODE_ORDER_FINISHED') %}
    {% set statusIcon =  'end' %}
{% else %}
    {% set statusIcon =  '' %}
{% endif %}

<div class="order-card">
    <div class="row between">
        <div class="d-flex justify-content-between col-12">
            <div class="order-date-container w-40">
                <span>Livraison prévue le <strong>{{ item.expectedDelivery }}</strong></span>
            </div>
            <div class="status"><i class="icon bxi bxi-{{ statusIcon }}"></i> {{ item.status.name }}</div>
            <div class="expand"></div>
            <div class="w-30">
                <div class="row justify-content-end align-items-center gx-3">
                    {% if item.automatic %}
                        <div class="col-auto ml-auto">
                            <i class="icon bxi bxi-automatic m-0"></i>
                        </div>
                    {% endif %}
                    <div class="col-auto text-end">
                        Commande
                        <br/>
                        <span class="no-wrap">N°{{ item.number }}</span>
                    </div>
                    <div class="col-auto">
                        <div data-listener="delete"
                             data-id="{{ item.id }}"
                             class="cursor-pointer">
                            <i class="bxi bxi-trash-circle m-0"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between col-12">
            <p class="w-40"><strong>{{ item.location.name }}</strong><br> {{ item.location.address }}</p>
            <div class="delivery-method">
                <i class="icon bxi bxi-{{ item.deliveryMethod.icon }}"></i>
                {{ item.deliveryMethod.name }}
            </div>
            <div class="expand"></div>
            <div class="w-30 right">
                <strong>Montant Total {{ (item.cartPrice + item.servicePrice + item.deliveryPrice)|format_helper('price') }}</strong>
                <strong class="typeName">{{ item.type.name }}</strong>
            </div>
        </div>
        <span class="col-6 ordered-by">Commandé par : {{ item.requester.username }}</span>
        <a class="col-6 show-detail cursor-pointer"
           data-id="{{ item.id }}"
           data-action="{{ item.linkAction }}">
            {{item.linkLabel}}
        </a>
    </div>
</div>
