{% extends 'security/base.html.twig' %}

{% block title %}BoxEaty - Connexion{% endblock %}
{% block header %}Connexion{% endblock %}

{% block content %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security', 'fr') }}</div>
        {% endif %}

        <label class="d-block">
            Adresse email
            <input type="text" value="{{ last_username }}" name="email" placeholder="Adresse email" class="d-block w-100" required autofocus>
        </label>

        <label class="d-block mt-2">
            Mot de passe
            <input type="password" name="password" placeholder="Mot de passe" class="d-block w-100" required>
        </label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="separated mt-1">
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="remember-me">
                    <label class="form-check-label mt-0" for="remember-me">
                        Rester connecté
                    </label>
                </div>
            </div>
            <a href="{{ path('password_forgotten') }}" class="text-reset text-semi-bold">Mot de passe oublié</a>
        </div>

        <button class="primary w-100 mt-3" type="submit">Se connecter</button>
        <a href="{{ path('register') }}" class="secondary w-100 mt-1" role="button">Créer un compte</a>
    </form>
{% endblock %}
