{% extends 'base.html.twig' %}

{% block title %}BoxEaty - Connexion{% endblock %}

{% block body %}
    <main class="login">
        <img src="{{ asset('images/logo.svg') }}" class="logo" alt="Logo BoxEaty">

        <h1>Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label class="d-block">
                Adresse email
                <input type="text" value="{{ last_username }}" name="email" class="d-block w-100" required autofocus>
            </label>

            <label class="d-block">
                Password
                <input type="password" name="password" class="d-block w-100" required>
            </label>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="separated">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                <a href="{{ path('password_forgotten') }}">Mot de passe oublié</a>
            </div>

            <button class="primary w-100" type="submit">Se connecter</button>
            <button class="primary w-100" type="submit">Créer un compte</button>
        </form>
    </main>
{% endblock %}
