{% extends 'security/base.html.twig' %}

{% block title %}BoxEaty - Créer un compte{% endblock %}
{% block header %}Créer un compte{% endblock %}

{% block content %}
    <form method="post">
        <label>
            Groupe
            <select name="group" data-s2="group" data-placeholder="Sélectionnez votre groupe">
                {% for group in user.groups %}
                    <option value="{{ group.id }}" selected>{{ group.name }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            Adresse email
            <input type="text" name="email" placeholder="Adresse email" value="{{ user.email }}" required autofocus>
        </label>

        <label>
            Nom d'utilisateur
            <input type="text" name="username" placeholder="Nom d'utilisateur" value="{{ user.username }}" required>
        </label>

        <label>
            Mot de passe
            <input type="password" name="password" placeholder="Mot de passe" required>
        </label>

        <label>
            Confirmer le mot de passe
            <input type="password" name="password-repeat" placeholder="Mot de passe" required>
        </label>

        <button class="primary w-100 mt-3" type="submit">Créer mon compte</button>
        <a href="{{ path('login') }}" class="secondary w-100 mt-1" role="button">Retour à la connexion</a>
    </form>
{% endblock %}
