{% set unique_date = unique_date is defined and unique_date %}
{% set name = name is defined and name ? name : 'from' %}

<div class="{{ not unique_date ? 'dates-filter' }}">
    <label class="dates">
        {{ not unique_date ? 'Du' }}
        <input type="date" name="{{ name }}" class="data from"
               min="{{ now }}">
    </label>
    {% if not unique_date %}
        <label class="dates">
            au
            <input type="date" name="to" class="data"
                   min="{{ now }}">
        </label>
    {% endif %}
</div>
