<div class="newClientOrder">
    <div class="row">
        <div class="clientOrderType" id="clientOrder">
            {% for orderType in orderTypes %}
                <input type="radio" id="{{ orderType.name }}" name="type" class="data" value="{{ orderType.code }}" {{ clientOrder.type == orderType.id ? 'checked' }} required/>
                <label for="{{ orderType.name }}">{{ orderType.name }}</label>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="header-section">
            <h2 class="header-section-label">Information</h2>
        </div>
        <label>Demandeur: {{ requester.username }}</label>
        <span class="bigTxt">Veuillez selectionner le site que vous voulez approvisionner</span>
        <div class="row">
            <div class="select">
                <select name="client" class="data " data-s2="client" data-placeholder="Sélectionnez un client" required>
                    {% if clientOrder.client and clientOrder.client.clientOrderInformation.workingDayDeliveryRate is not null %}
                        <option value="{{ clientOrder.client.id }}" selected></option>
                    {% endif %}
                </select>
            </div>
            <span id="clientAddress" class="smallTxt col-6 "></span>
        </div>
        <div class="row form-switch autonomousManagement d-none">
            <label class="form-check-label bigTxt col-8" for="{{ clientOrder.id ? 'edit' : 'new' }}-collect">Avez-vous besoin de faire une collecte? <span class="smallTxt">(Box à nettoyer)  </span></label>
            <input class="form-check-input data col-4" type="checkbox" name="collect"
                   id="{{ clientOrder.id ? 'edit' : 'new' }}-collect" {{ clientOrder.collect ? 'checked' }} required>
            <div class="collectNumber">
                <label for="collectNumber">Caisses à collecter</label>
                <input type="number" id="collectNumber" class="arrow m-2" name="collectNumber" placeholder="1" min="1" required>
            </div>
        </div>


        <div class="header-section">
            <h2 class="header-section-label ">Ajouter une box</h2>
        </div>

 <div class="row mt-2 justify-content-between">
     <div class="select col-6">
        <select name="boxType" class="data" data-s2="type" data-placeholder="TypeBox-Volume-Tarif"></select>
     </div>
     <div class="col-6">
        <button class="primary col" id="addBoxes"><i class="icon bxi bxi-whiteCart"></i></button>
        <button class="secondary col autonomousManagement d-none">Ajouter mon modèle de caisse</button>
     </div>
 </div>
        <div class="header-section">
            <h2 class="header-section-label">Panier</h2>
        </div>

        <div id="boxes">
            <div class="emptyCart justify-content-center">
                <img src="{{ asset('images/doubleBoxes.svg') }}" alt="Panier vide">
                <p class="bigTxt">Votre panier est vide</p>
            </div>
        </div>

        <div class="header-section">
            <h2 class="header-section-label">Livraison</h2>
        </div>

        <div class="transport row">
            <label class="orangeToggle col-7">
                <span class="bigTxt">Transport</span>
                <div class="row">
                    {% for deliveryMethod in deliveryMethods %}
                        <div class="col mb-2 p-0">
                            <input type="radio" id="{{ deliveryMethod.name }}" name="deliveryMethod" class="data " value="{{ deliveryMethod.id }}" {{ clientOrder.deliveryMethod == deliveryMethod.id ? 'checked' }} required/>
                            <label for="{{ deliveryMethod.name }}">
                                <img class="deliveryMethodIcon" src="{{ asset(deliveryMethod.icon) }}" alt={{ deliveryMethod.name }}>
                                {{ deliveryMethod.name }}
                            </label>
                        </div>
                    {% endfor %}
                    <span class="bigTxt col-12" id="deliveryPrice"></span>
                    <span class="bigTxt col-12" id="servicePrice"></span>
                </div>
            </label>

            <label class="col-5">
                <span class="bigTxt">Date de livraison souhaitée</span>
                <input type="datetime-local" name="date" class="data" placeholder="Date de livraison"  min="{{ now }}T00:00" required/>
            </label>
        </div>

        <label class="bigTxt"> Commentaire sur la livraison</label>
        <div class="data" data-wysiwyg="comment">{{ clientOrder.comment | raw }}</div>
    </div>
</div>