<div class="validationClientOrder">
    <div class="header-section">
        <h2 class="header-section-label">Information</h2>
    </div>
    <div class="row justify-content-between">
        <span class="bigTxt col-md-8 col-12">{{ clientOrder.client.name }}</span>
        <span class="col-md-4 col-12 text-end">{{ clientOrder.requester.username }}</span>
    </div>
    <div class="row justify-content-between">
        <span class="col-md-8 col-12">{{ clientOrder.client.address }}</span>
        <span class="col-md-4 col-12 text-end">{{ clientOrder.requester.phone }}</span>
    </div>
    <div class="row justify-content-between">
        <p class="col-md-8 col-12"><span class="bigTxt">Collecte</span> (Box à nettoyer) : {{ clientOrder.collectRequired }} caisses</p>
        <span class="recap text-end col-md-4 col-12">
            <img class="deliveryMethodIcon " src="{{ asset(clientOrder.deliveryMethod.icon) }}" alt={{ clientOrder.deliveryMethod.name }}>
            {{ clientOrder.deliveryMethod.name }}
        </span>
    </div>

    <span class="bigTxt">Commentaire pour le livreur <br></span>
    <span class="recap">{{ clientOrder.comment }}</span>

    <div class="header-section">
        <h2 class="header-section-label">Livraison</h2>
    </div>
    <span class="bigTxt"> Date de livraison : {{ expectedDelivery }}</span>

    {% include 'operation/client_order/modal/boxList.html.twig' %}

    <span class="bigTxt">Récapitulatif de commande</span>
    <div class="row justify-content-between">
        <span class="col-1">Box</span>
        <div class="col-8 dotted "></div>
        <span class="col-1 text-end">{{ clientOrder.deliveryPrice|format_helper('price') }} </span>
    </div>
    <div class="row justify-content-between">
        <span class="col-1">Livraison</span>
        <div class="col-8 dotted "></div>
        <span class="col-1 text-end">{{ clientOrder.deliveryPrice|format_helper('price') }}</span>
    </div>
    <div class="row justify-content-between">
        <span class="col-1">Service</span>
        <div class="col-8 dotted "></div>
        <span class="col-1 text-end">{{ clientOrder.servicePrice|format_helper('price') }}</span>
    </div>
    <div class="row justify-content-between">
        <span class="col-1">Collecte</span>
        <div class="col-8 dotted "></div>
        <span class="col-1 text-end">Inclus</span>
    </div>



</div>