<div id="modal-order-deposit-tickets" class="modal fade no-header">
    <div class="modal-dialog modal-fullscreen-lg-down modal-xl">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="body">
                <div class="row">
                    <div class="col-12 col-md-4 left-pane">
                        <h2 class="mb-3">Tickets-consignes scannées</h2>
                        <div class="scanned-tickets">
                            {% for ticket in tickets %}
                                <div class="item">
                                    <input type="text" name="items" class="data data-array mt-1" readonly
                                           value="{{ ticket.number }}" data-price="-{{ ticket.box.type.price }}">
                                    <span class="floating-icon">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                        <label>
                            Valeur des tickets-consignes
                            <input type="number" name="price" class="euros" value="{{ price }}" readonly>
                        </label>
                    </div>
                    <div class="col-12 col-md-8">
                        <h2 class="mb-3">
                            Etape 2 : Scan du/des ticket(s)-consigne(s)
                            <i data-toggle="tooltip" title="Si vous n'avez pas de ticket-consigne veuillez passer à l'étape suivante"></i>
                            <i data-toggle="tooltip" title="Si vous n'avez pas de ticket-consigne veuillez passer à l'étape suivante"></i>
                        </h2>
                        <div class="scan-container">
                            <img src="{{ asset('images/barcode-mask.svg') }}" alt="Masque QR code">
                            <video data-scan="ticket" data-items=".scanned-tickets"></video>
                        </div>

                        <select data-s2="orderDepositTicket" data-no-empty-option
                                data-placeholder="Sélectionner un ticket-consigne à ajouter manuellement" required
                                data-manual="ticket" data-items=".scanned-tickets"
                                data-include-param-closest=".modal"
                                data-include-params="input[name=items]">
                        </select>
                    </div>
                </div>

                <input type="hidden" name="session" class="data" value="{{ session }}">
            </div>

            <div class="footer">
                <a href="{{ path('home') }}" class="secondary">Annuler</a>
                <div class="spacer"></div>
                <button type="submit" class="primary" name="previous" value="1">Etape précédente</button>
                <button type="submit" class="primary">Etape suivante</button>
            </div>
        </div>
    </div>
</div>
