<div class="box global-settings">
    <h1>
        Configuration types de Box
        <button class="primary float-end" type="submit">Enregistrer</button>
    </h1>

    <label class="w-35">
        Contenance
        <select name="{{ constant('App\\Entity\\GlobalSetting::BOX_CAPACITIES') }}"
                class="data"
                data-s2
                data-editable
                multiple
                data-placeholder="Entrez des capacités...">
            {% for capacity in box_capacities %}
                <option value="{{ capacity }}" selected>{{ capacity }}</option>
            {% endfor %}
        </select>
    </label>
    <label class="w-35">
        Forme
        <select name="{{ constant('App\\Entity\\GlobalSetting::BOX_SHAPES') }}"
                class="data"
                data-s2
                data-editable
                multiple
                data-placeholder="Entrez des formes...">
            {% for shape in box_shapes %}
                <option value="{{ shape }}" selected>{{ shape }}</option>
            {% endfor %}
        </select>
    </label>
</div>
