<div class="box global-settings">
    <h1>
        Commande
        <button class="secondary float-end" type="submit">Enregistrer</button>
    </h1>

    <label class="w-35">
        Moyen de paiement
        <select name="{{ constant('App\\Entity\\GlobalSetting::PAYMENT_MODES') }}"
                class="data"
                data-s2
                data-editable
                multiple
                data-placeholder="Entrez des moyens de paiement...">
            {% for mode in payment_modes %}
                <option value="{{ mode }}" selected>{{ mode }}</option>
            {% endfor %}
        </select>
    </label>

    <div class="w-75">
        <label>Jours fériés ou non ouvrés majoration sur livraison à cette date</label>
        <div class="inline-form">
            <label>
                Jour
                <input type="number" name="day" class="data" min="0" max="31" required>
            </label>
            <label>
                Mois
                <select name="month" class="data" data-s2 required>
                    {% for number, month in constant('App\\Helper\\FormatHelper::MONTHS') %}
                        <option value="{{ number }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </label>
            <button id="add-work-free-day" class="secondary"><i class="icon fas fa-plus"></i> Ajouter</button>
        </div>

        <table id="table-work-free-days"
               data-initial-data="{{ initial_work_free_days }}"
               data-default-order="{{ work_free_days_order | json_encode }}">
        </table>
    </div>
</div>
