<div class="row">
    <div class="col-12">
        <label>
            Nom
            <input type="text" name="name" class="data" placeholder="Nom du client" value="{{ client.name }}" required/>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Statut</span>

        <input type="radio" id="{{ client.id ? 'edit' : 'new' }}-client-active" name="active" class="data" value="1" {{ client.active ? 'checked' }}/>
        <label for="{{ client.id ? 'edit' : 'new' }}-client-active">Actif</label>

        <input type="radio" id="{{ client.id ? 'edit' : 'new' }}-client-inactive" name="active" class="data" value="0" {{ not client.active ? 'checked' }}/>
        <label for="{{ client.id ? 'edit' : 'new' }}-client-inactive">Inactif</label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Adresse
            <input type="text" name="address" class="data" placeholder="Adresse" value="{{ client.address }}" required/>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Téléphone
            <input type="tel" name="phoneNumber" class="data" placeholder="Numéro de téléphone" value="{{ client.phoneNumber }}" required/>
        </label>
    </div>
    <div class="col-12">
        <label>
            Contact principal
        </label>
        <select class="data" name="contact" data-s2="user" data-placeholder="Sélectionnez un utilisateur..." required>
            {% if client.contact %}
                <option value="{{ client.contact.id }}" selected>{{ client.contact.username }}</option>
            {% endif %}
        </select>
    </div>
    <div class="col-12">
        <label>Propriétés</label>
        <div class="form-check form-switch">
            <input class="form-check-input data" type="checkbox" name="isMultiSite"
                   id="{{ client.id ? 'edit' : 'new' }}-is-multi-site" {{ client.isMultiSite ? 'checked' }}>
            <label class="form-check-label" for="{{ client.id ? 'edit' : 'new' }}-is-multi-site">Multi-site</label>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Groupe
        </label>
        <select class="data" name="group" data-s2="group" data-placeholder="Sélectionnez un groupe..." required>
            {% if client.group %}
                <option value="{{ client.group.id }}" selected>{{ client.group.name }}</option>
            {% endif %}
        </select>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Client multi-site lié
        </label>
        <select class="data" name="linkedMultiSite" data-s2="multiSite" data-placeholder="Sélectionnez un client..." {{ client.isMultiSite ? 'disabled' }}>
            {% if client.linkedMultiSite %}
                <option value="{{ client.linkedMultiSite.id }}" selected>{{ client.linkedMultiSite.name }}</option>
            {% endif %}
        </select>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Ticket consigne valable dans la borne
        </label>
        <select class="data" name="depositTicketsClients" data-s2="client" data-placeholder="Sélectionnez des clients..." multiple required>
            {% if not client.id %}
                <option class="client-self-name" value="0" selected>Client actuel</option>
            {% endif %}

            {% for client in client.depositTicketsClients %}
                <option value="{{ client.id }}" selected>{{ client.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Validité ticket-consigne
        </label>
        <select class="data" name="depositTicketValidity" data-s2 data-placeholder="Sélectionnez une durée de validité...">
            {% for i in 1..24 %}
                <option value="{{ i }}" {{ i == client.depositTicketValidity or not client.depositTicketValidity and i == 3 ? 'selected' }}>
                    {{ i }} mois
                </option>
            {% endfor %}
        </select>
    </div>
</div>
