{% extends 'template.html.twig' %}

{% block menu %}Traçabilité{% endblock %}
{% block page %}
    <a href="{{ path('boxes_list') }}" class="text-white text-decoration-none">Box</a> | Détails
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('box_show') }}
{% endblock %}

{% block bodyclass %}full-height{% endblock %}
{% block content %}
    <div class="row box-show">
        <div class="col-md-4 col-12 details box-details">
            <div class="d-flex justify-content-between">
                <h3>Détails de la Box</h3>
                <div>
                    <button class="primary edit-box round"><i class="icon fas fa-edit m-0"></i></button>
                    <button class="primary delete-box round"><i class="icon fas fa-trash m-0"></i></button>
                </div>
            </div>
            <p>Code : <strong>{{ box.number }}</strong></p>
            <p>Emplacement : <strong>{{ box.location ? box.location.name }}</strong></p>
            <p>Qualité : <strong>{{ box.quality ? box.quality.name }}</strong></p>
            <p>Etat : <strong>{{ box.state ? constant('App\\Entity\\Box::NAMES')[box.state] }}</strong></p>
            <p>Prix : <strong>{{ box.type ? box.type.price|format_helper('price') }}</strong></p>
        </div>
        <div class="col-md-8 col-12 right-column">
            <div class="owner box-details">
                <h3>Propriétaire</h3>
                <p class="fs-5 mb-0">{{ box.owner ? box.owner.name }}</p>
            </div>
            <div class="history box-details">
                <div class="d-flex flex-md-row flex-column justify-content-between mb-3">
                    <h3 class="mb-0">Historique de la Box</h3>
                    <label class="d-flex align-items-center text-nowrap mt-0">
                        Rechercher :
                        <input type="text" class="comment-search data" placeholder="Entrée pour valider">
                    </label>
                </div>
                <div class="history-wrapper"></div>
                <div class="scroll-top d-flex justify-content-end d-none">
                    <span class="scroll-top-button">
                        <i class="fas fa-arrow-circle-up fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ box.id }}" id="box-id">
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('box_show') }}
{% endblock %}
