{% extends 'template.html.twig' %}

{% block menu %}Traçabilité{% endblock %}
{% block page %}<a href="{{ path('boxes_list') }}" class="text-white text-decoration-none">Box</a> > Détails{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('box_show') }}
{% endblock %}

{% block content %}
    <div class="row box-show">
        <div class="col-4 details box-details">
            <h3>Détails de la Box</h3>
            <p class="fs-5">Code : <strong>{{ box.number }}</strong></p>
            <p class="fs-5">Emplacement : <strong>{{ box.location ? box.location.name }}</strong></p>
            <p class="fs-5">Qualité : <strong>{{ box.quality ? box.quality.name }}</strong></p>
            <p class="fs-5">Etat : <strong>{{ box.state ? constant('App\\Entity\\Box::NAMES')[box.state] }}</strong></p>
            <p class="fs-5">Prix : <strong>{{ box.type ? box.type.price|format_helper('price') }}</strong></p>
        </div>
        <div class="col-8 box-group">
            <div class="owner box-details">
                <h3>Propriétaire</h3>
                <p class="fs-5">{{ box.owner ? box.owner.name }}</p>
            </div>
            <div class="history box-details justify-content-between">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Historique de la Box</h3>
                    <label class="d-flex align-items-center mt-0">
                    Rechercher:
                        <input type="text" class="comment-search data" placeholder="entrée pour valider">
                    </label>
                </div>
                <div class="history-wrapper"></div>
                <div class="scroll-top d-flex justify-content-end d-none">
                    <span class="scroll-top-button">
                        <i class="fas fa-arrow-circle-up fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ box.id }}" id="box-id">
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('box_show') }}
{% endblock %}
