{% extends 'print/base.html.twig' %}

{% block stylesheets %}
    {% include 'print/style/deposit-ticket.css' %}
{% endblock %}

{% block body %}
    <div class="column">
        <img src="{{ base64('images/print/logo.png') }}" class="logo" alt="Logo BoxEaty">
        <h1>Ticket- consigne</h1> <!-- the space is necessary because of a glitch with the font -->
        <span>À conserver</span>

        <span class="mt-3">Le {{ 'now' | date('d/m/Y à H:i:s') }}</span>

        <strong>Bon pour une nouvelle Box</strong>
        <span class="valid-until">Valable jusqu'au {{ ticket.validityDate | date('d/m/Y') }}</span>

        <small class="mt-3">Échangeable dans {{ usable | raw }}*</small>

        <figure class="qr">
            <img src="{{ qr_code_data_uri(ticket.number) }}" alt="QR code">
            <figcaption>{{ ticket.number }}</figcaption>
        </figure>

        <img src="{{ base64('images/print/eat-consigned.png') }}" class="eat-consigned" alt="Mangez consigné">
        <small class="mt-2">*Remboursement possible en caisse</small>
    </div>
{% endblock %}
