{% set period = recurrence is defined and recurrence ? recurrence.period : null %}

<span class="body-text">
    {% if recurrence %}
        <strong>{{ recurrence ? recurrence.crateAmount : '0' }}
        caisse{{ recurrence and recurrence.crateAmount > 1 ? 's' : '' }}</strong>{{ (period and period > 1) ? ', toutes les' : ' chaque' }}

        <strong>{{ period and period > 1 ? recurrence.period }} {{ (period and period > 1) ? 'semaines' : 'semaine' }}</strong> jusqu'au
    <strong>{{ recurrence ? recurrence.end | format_helper('date') : '-' }}</strong>
    {% else %}
        <strong>Pas de récurrence</strong>
    {% endif %}
</span>
<div class="d-flex justify-content-end mt-3">
    {% if recurrence %}
        <button class="secondary delete-recurrence me-2" data-id="{{ recurrence ? recurrence.id }}">
            Supprimer la récurrence
        </button>
    {% endif %}
    {% if not client.multiSite %}
        <button class="primary {{ recurrence ? 'edit-order-recurrence' : 'add-order-recurrence' }}"
                data-id="{{ recurrence ? recurrence.id }}">
            {{ recurrence ? 'Modifier la récurrence' : 'Ajouter une récurrence' }}
        </button>
    {% endif %}
</div>
