{% set orderRecurrence = clientOrderInformation.orderRecurrence is defined and clientOrderInformation.orderRecurrence ? clientOrderInformation.orderRecurrence : null %}
{% set frequency = orderRecurrence is defined and orderRecurrence.frequency ? orderRecurrence.frequency : null %}
<div class="row">
    <span class="big-text">Commande récurrente <span class="orange-text">€ HT/mois</span></span>
    <span class="body-text">
        <strong>{{ orderRecurrence ? orderRecurrence.crateAmount }} caisses</strong> {{ (frequency and frequency > 1) ? ', toutes les' : 'chaque' }} <strong>{{ frequency and frequency > 1 ? orderRecurrence.frequency }} {{ (frequency and frequency > 1) ? 'semaines' : 'semaine' }}</strong> jusqu'au <strong>{{ orderRecurrence ? orderRecurrence.end | format_helper('date') }}</strong>
    </span>
    <div class="d-flex justify-content-end mt-3">
        <button class="primary filter">{{ orderRecurrence ? 'Modifier la récurrence' : 'Ajouter une récurrence' }}</button>
    </div>
</div>