<div class="row">
    <div class="col-md-6 col-12">
        <label>
            Code Box
            <input type="text" name="number" class="data" placeholder="BX00001"
                   value="{{ box.number }}" max="50" required {{ box.id ? 'disabled' }}/>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Propriété
            <select name="owner" class="data" data-s2="client" data-placeholder="Sélectionnez un client">
                {% if box.owner %}
                    <option value="{{ box.owner.id }}" selected>{{ box.owner.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Qualité
            <select name="quality" class="data" data-s2="quality" data-placeholder="Sélectionnez une qualité">
                {% if box.quality %}
                    <option value="{{ box.quality.id }}" selected>{{ box.quality.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            État
            <select name="state" class="data" data-s2 data-placeholder="Sélectionnez un état">
                <option value="{{ constant('App\\Entity\\Box::AVAILABLE') }}"
                        {{ box.state == constant('App\\Entity\\Box::AVAILABLE') ? 'selected' }}>
                    Disponible
                </option>
                <option value="{{ constant('App\\Entity\\Box::UNAVAILABLE') }}"
                        {{ box.state == constant('App\\Entity\\Box::UNAVAILABLE') ? 'selected' }}>
                    Indisponible
                </option>
                <option value="{{ constant('App\\Entity\\Box::CONSUMER') }}"
                        {{ box.state == constant('App\\Entity\\Box::CONSUMER') ? 'selected' }}>
                    Consommateur
                </option>
                <option value="{{ constant('App\\Entity\\Box::CLIENT') }}"
                        {{ box.state == constant('App\\Entity\\Box::CLIENT') ? 'selected' }}>
                    Client
                </option>
                <option value="{{ constant('App\\Entity\\Box::OUT') }}"
                        {{ box.state == constant('App\\Entity\\Box::OUT') ? 'selected' }}>
                    Sorti
                </option>
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Emplacement
            <select name="location" class="data" data-s2="anyLocation" data-placeholder="Sélectionnez un emplacement">
                {% if box.location %}
                    <option value="{{ box.location.id }}" selected>{{ box.location.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Type
            <select name="type" class="data" data-s2="type" data-placeholder="Sélectionnez un type">
                {% if box.type %}
                    <option value="{{ box.type.id }}" selected>{{ box.type.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-12">
        <label>Commentaire</label>
        <div class="data" data-wysiwyg="comment">{{ box.comment | raw }}</div>
    </div>
</div>
