<div class="row">
    <div class="col-md-6 col-12">
        <label>
            Code Box / caisse
            <input type="text" name="number" class="data" placeholder="BX00001"
                   value="{{ box.number }}" max="50" required {{ box.id ? 'disabled' }}/>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Propriétaire
            <select name="owner" class="data" data-s2="client" data-placeholder="Sélectionnez un client" required>
                {% if box.owner %}
                    <option value="{{ box.owner.id }}" selected>{{ box.owner.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Qualité
            <select name="quality" class="data" data-s2="quality" data-placeholder="Sélectionnez une qualité" required>
                {% if box.quality %}
                    <option value="{{ box.quality.id }}" selected>{{ box.quality.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            État
            <select name="state" class="data" data-s2 data-placeholder="Sélectionnez un état" required>
                {% for state, label in constant('App\\Service\\BoxStateService::BOX_STATES') %}
                    <option value="{{ state }}" {{ box.state == state ? 'selected' }}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Emplacement
            <select name="location" class="data" data-s2="anyLocation" data-placeholder="Sélectionnez un emplacement" required>
                {% if box.location %}
                    <option value="{{ box.location.id }}" selected>{{ box.location.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Type
            <select name="type" class="data" data-s2="type" data-placeholder="Sélectionnez un type" required>
                {% if box.type %}
                    <option value="{{ box.type.id }}" selected>{{ box.type.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Catégorie</span>

        <input type="radio" id="{{ box.id ? 'edit' : 'new' }}-box" name="box" class="data" value="1" {{ box.box ? 'checked' }}/>
        <label for="{{ box.id ? 'edit' : 'new' }}-box">Box</label>

        <input type="radio" id="{{ box.id ? 'edit' : 'new' }}-crate" name="box" class="data" value="0" {{ not box.box ? 'checked' }}/>
        <label for="{{ box.id ? 'edit' : 'new' }}-crate">Caisse</label>
    </div>
    <div class="col-12">
        <label>Commentaire</label>
        <div class="data" data-wysiwyg="comment">{{ box.comment | raw }}</div>
    </div>
</div>
