<div id="modal-order-boxes" class="modal fade no-header">
    <div class="modal-dialog modal-fullscreen-lg-down modal-xl">
        <div class="modal-content">
            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="body">
                <div class="row">
                    <div class="col-12 col-md-4 left-pane">
                        <h2 class="mb-3">Box scannées</h2>
                        <div class="scanned-boxes">
                            <span class="placeholder">Aucune Box scannée</span>

                            {% for box in boxes %}
                                <div class="item">
                                    <input type="text" name="items" class="data-array mt-1" readonly
                                           value="{{ box.number }}" data-price="{{ box.type.price }}">
                                    <span class="floating-icon">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                        <label>
                            Total
                            <input type="text"
                                   name="price"
                                   class="euros"
                                   value="{{ price | format_helper('price', false) }}"
                                   data-raw-value="{{ price }}"
                                   readonly>
                        </label>
                    </div>
                    <div class="col-12 col-md-8">
                        <h2 class="mb-3">Etape 1 : Scan Box</h2>
                        <div class="scan-container">
                            <img src="{{ asset('images/barcode-mask.svg') }}" alt="Masque QR code">
                            <video data-scan="box" data-items=".scanned-boxes"></video>
                        </div>

                        <label>
                            Numéro Box
                            <select class="add-box-select"
                                    data-s2="orderBox"
                                    data-no-empty-option
                                    data-placeholder="Sélectionner une Box à ajouter manuellement"
                                    required
                                    data-manual="box"
                                    data-items=".scanned-boxes"
                                    data-include-params="input[name=items]">
                            </select>
                        </label>
                    </div>
                </div>

                <input type="hidden" name="session" class="data" value="{{ session }}">
            </div>

            <div class="footer">
                <a href="{{ path('home') }}" class="secondary">Annuler</a>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <button type="submit" class="primary">Etape suivante</button>
            </div>
        </div>
    </div>
</div>
