<div class="row">
    <div class="col-12 justify-content-center d-flex mb-3">
        <label>
            <div class="attachment-drop-frame {{ box_type.image ? 'is-valid' }}">
                <div class="file-empty cursor-pointer {{ box_type.image ? 'd-none' }}">
                    Faites glisser votre image ici<br>
                    ou <span class="click-here">cliquez ici</span>
                </div>
                <div class="file-confirmation {{ not box_type.image ? 'd-none' }}">
                    Le fichier <strong class="file-name">{{ box_type.image ? box_type.image }}</strong> a bien été ajouté.
                    <i class="fas fa-trash cursor-pointer file-delete-icon"></i>
                </div>
                <input type="file" name="attachment" class="data d-none" accept=".png, .jpg, .svg, .jpeg" value="{{ box_type.image ? asset('persistent/box_type/') ~ box_type.image }}" required>
            </div>
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label>
            Nom du type de Box
            <input type="text" name="name" class="data" placeholder="Nom du type de Box" value="{{ box_type.name }}" required/>
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label>
            Prix (€)
            <input type="number" name="price" class="data euros" placeholder="6€" value="{{ box_type.price }}" required min="0"/>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Statut</span>

        <input type="radio" id="{{ box_type.id ? 'edit' : 'new' }}-box-type-active" name="active" class="data" value="1" {{ box_type.active ? 'checked' }}/>
        <label for="{{ box_type.id ? 'edit' : 'new' }}-box-type-active">Actif</label>

        <input type="radio" id="{{ box_type.id ? 'edit' : 'new' }}-box-type-inactive" name="active" class="data" value="0" {{ not box_type.active ? 'checked' }}/>
        <label for="{{ box_type.id ? 'edit' : 'new' }}-box-type-inactive">Inactif</label>
    </div>
    <div class="col-12 col-md-6">
        <label>
            Contenance
            <select name="capacity" class="data" data-s2 data-placeholder="Sélectionnez une contenance" required>
                {% for capacity in capacities %}
                    <option value="{{ capacity }}" {{ box_type.capacity == capacity ? 'selected' }}>{{ capacity }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label>
            Forme
            <select name="shape" class="data" data-s2 data-placeholder="Sélectionnez une forme" required>
                {% for shape in shapes %}
                    <option value="{{ shape }}" {{ box_type.shape == shape ? 'selected' }}>{{ shape }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label>
            Volume (m³)
            <input type="number" name="volume" class="data" placeholder="Renseignez un volume" value="{{ box_type.volume }}" required/>
        </label>
    </div>
    <div class="col-12 col-md-6">
        <label>
            Poids (kg)
            <input type="number" name="weight" class="data" placeholder="Renseignez un poids" value="{{ box_type.weight }}" required/>
        </label>
    </div>
</div>
