<div class="row">
    <div class="col-6">
        <label>
            Numéro ticket-consigne
            <input type="text" name="number" class="data" placeholder="Numéro du ticket-consigne"
                   value="{{ deposit_ticket.number }}" required/>
        </label>
    </div>
    <div class="col-6">
        <label>
            Etat
            <select name="condition" class="data" data-s2 data-placeholder="Sélectionnez un état" required>
                <option value="périmé" {{ deposit_ticket.condition is defined and deposit_ticket.condition == "périmé" ? 'selected' }}>périmé</option>
                <option value="valable" {{ deposit_ticket.condition is defined and deposit_ticket.condition == "valable" ? 'selected' }}>valable</option>
                <option value="utilisé" {{ deposit_ticket.condition is defined and deposit_ticket.condition == "utilisé" ? 'selected' }}>utilisé</option>
            </select>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <label>
            Borne
            <select name="kiosk" class="data" data-s2 data-placeholder="Sélectionnez une borne" required>
                {% for kiosk in kiosks %}
                    <option value="{{ kiosk.id }}" {{ deposit_ticket.kiosk and deposit_ticket.kiosk.id == kiosk.id ? 'selected' }}>{{ kiosk.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>
