<div class="row">
    <div class="col-12 toggle">
        <span class="label">Type</span>

        <input type="radio" id="{{ location.id ? 'edit' : 'new' }}-location-type-kiosk" name="type" class="data" value="1" {{ location.kiosk ? 'checked' }}/>
        <label for="{{ location.id ? 'edit' : 'new' }}-location-type-kiosk">Borne</label>

        <input type="radio" id="{{ location.id ? 'edit' : 'new' }}-location-type-location" name="type" class="data" value="0" {{ not location.kiosk ? 'checked' }}/>
        <label for="{{ location.id ? 'edit' : 'new' }}-location-type-location">Emplacement</label>
    </div>
    <div class="col-12">
        <label>
            Nom
            <input type="text" name="name" class="data" placeholder="Nom de votre emplacement" value="{{ location.name }}" required/>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Statut</span>

        <input type="radio" id="{{ location.id ? 'edit' : 'new' }}-location-active" name="active" class="data" value="1" {{ location.active ? 'checked' }}/>
        <label for="{{ location.id ? 'edit' : 'new' }}-location-active">Actif</label>

        <input type="radio" id="{{ location.id ? 'edit' : 'new' }}-location-inactive" name="active" class="data" value="0" {{ not location.active ? 'checked' }}/>
        <label for="{{ location.id ? 'edit' : 'new' }}-location-inactive">Inactif</label>
    </div>
    <div class="col-12">
        <label>
            Client
            <select name="client" class="data" data-s2="client" data-placeholder="Sélectionnez un client" required>
                {% if location.client %}
                    <option value="{{ location.client.id }}" selected>{{ location.client.name }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <div class="col-12">
        <label>
            Description
            <textarea type="text" name="description" class="data" placeholder="Votre description">{{ location.description }}</textarea>
        </label>
    </div>
</div>
