{% extends 'template.html.twig' %}

{% block menu %}Référentiel{% endblock %}
{% block page %}Emplacement{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('location_list') }}
{% endblock %}
{% block filter_header %}
    {% include 'filters/location_filters.html.twig' %}
{% endblock %}

{% block content %}
    <div class="box first-box">
        <div class="content-menu">
            <div id="table-search-container"></div>
            <div class="right">
                <a href="{{ path('locations_export') }}" class="outline"><i class="icon fas fa-download"></i> Export au
                    format CSV</a>
                <button class="primary new-location"><i class="icon fas fa-plus"></i> Nouvel emplacement</button>
            </div>
        </div>

        <div class="row">
            <div class="col-6"></div>
            <div class="data-location row col-6">
                <p class="body-text-semi-bold">Données en temsp réel</p>
                <div class="col-3">
                    <i class="icon bxi bxi-crate"></i><br>
                    <span class="green-text col-12">{{ crateAvailable }}<br></span>
                    <span class="text-bold col-12">Caisses en stock</span>
                </div>
                <div class="col-3">
                    <i class="icon bxi bxi-box"></i><br>
                    <span class="green-text">{{ boxAvailable }}<br></span>
                    <span class="text-bold">Box en stock</span>
                </div>
                <div class="col-3">
                    <i class="icon bxi bxi-grey-crate"></i><br>
                    <span class="green-text">{{ crateUnavailable }}<br></span>
                    <span class="text-bold">Caisses non disponible</span>
                </div>
                <div class="col-3">
                    <i class="icon bxi bxi-grey-box"></i><br>
                    <span class="green-text">{{ boxUnavailable }}<br></span>
                    <span class="text-bold">Box non disponible</span>
                </div>
            </div>
        </div>
        <table id="table-locations"
               data-initial-data="{{ initial_locations }}"
               data-default-order="{{ locations_order | json_encode }}">
        </table>
    </div>

    {% include 'referential/location/modal/new.html.twig' with {location: new_location} %}
    {% include 'referential/location/modal/empty.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('location_list') }}
{% endblock %}