{% extends 'template.html.twig' %}

{% block menu %}Référentiel{% endblock %}
{% block page %}Emplacement et stock{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('location_list') }}
{% endblock %}

{% block indicator %}
    <div class="box first-box indicator-container">
        <div class="row">
            <div class="col-6">
                <p class="body-text-semi-bold">Historique de stock</p>
                <div id="historyChart"></div>
            </div>
            <div class="data-location row col-6">
                <p class="body-text-semi-bold">Données en temps réel</p>
                <div class="col-3">
                    <i class="icon bxi bxi-crate"></i><br>
                    <div class="green-text col-12 crate-available">{{ crateAvailable }}</div>
                    <div class="text-bold col-12 plural">Caisse{{ crateAvailable > 1 ? 's' : '' }} en stock</div>
                </div>
                <div class="col-3">
                    <i class="icon bxi bxi-box"></i><br>
                    <div class="green-text box-available">{{ boxAvailable }}</div>
                    <div class="text-bold">Box en stock</div>
                </div>
                <div class="col-3">
                    <i class="icon bxi bxi-grey-crate"></i><br>
                    <div class="green-text crate-unavailable">{{ crateUnavailable }}</div>
                    <div class="text-bold plural">Caisse{{ crateUnavailable > 1 ? 's' : '' }} non
                        disponible{{ crateUnavailable > 1 ? 's' : '' }}</div>
                </div>
                <div class="col-3">
                    <i class="icon bxi bxi-grey-box"></i><br>
                    <div class="green-text box-unavailable">{{ boxUnavailable }}</div>
                    <div class="text-bold plural">Box non disponible{{ boxUnavailable > 1 ? 's' : '' }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block filter_header %}
    {% include 'filters/location_filters.html.twig' %}
{% endblock %}

{% block content %}
    <div class="box first-box">
        <div class="content-menu">
            <div id="table-search-container"></div>
            <div class="right">
                <a href="{{ path('locations_export') }}" class="outline"><i class="icon fas fa-download"></i> Export au
                    format CSV</a>
                <button class="primary new-location"><i class="icon fas fa-plus"></i> Nouvel emplacement</button>
            </div>
        </div>
        <table id="table-locations"
               data-initial-data="{{ initial_locations }}"
               data-default-order="{{ locations_order | json_encode }}">
        </table>
    </div>

    {% include 'referential/location/modal/new.html.twig' with {location: new_location} %}
    {% include 'referential/location/modal/empty.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('location_list') }}
{% endblock %}