<mjml>
    <mj-head>
        <mj-style>
            a {text-decoration: none;}
        </mj-style>
    </mj-head>
    <mj-body background-color="#F9F9EC">
        <mj-wrapper background-color="#F9F9EC" border="1px solid #F9F9EC" full-width="full-width" border="0"
                    padding="0px">
            <mj-section>
                <mj-column>
                    <mj-image width="260px" height="130px" src="{{ base64('images/email/logo_SansBaseLine.png') }}"></mj-image>
                    <mj-text font-size="20px" align="center" font-family="helvetica" text-transform="uppercase"
                             font-weight="bold" color="#1E1F44">Création d'un nouvel utilisateur
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <mj-wrapper background-color="#F9F9EC" border="1px solid #F9F9EC" full-width="full-width" border="0"
                    padding="0px">
            <mj-section padding="0px">
                <mj-column width="80%" background-color="white" padding-bottom="20px" padding-top="20px" padding="0px">
                    <mj-text align="center" font-size="20px" line-height="25px" color="#1E1F44">
                        L'utilisateur  <strong>{{ user.username }}</strong>  vient de procéder à la création d'un compte sur
                        l'application BoxEaty.
                        Ce compte est rattaché à l'adresse mail <a href="{{ 'mailto:' ~ user.email }}"
                                                                   style="text-decoration:underline; color:#747373; font-weight: bold;">{{ user.email }}</a>
                        et au
                        groupe <strong>{{ user.groups | map(g => g.name) | join(', ') }}</strong>.
                    </mj-text>
                    <mj-text align="center" font-size="20px" line-height="25px" color="#1E1F44">
                        Actuellement, cet utilisateur ne dispose d'aucun droit. Afin de lui en attribuer, vous devrez le
                        paramétrer
                        dans l'application BoxEaty en vous rendant dans le menu <i>Paramétrage/Utilisateurs</i>.
                    </mj-text>
                    <mj-button background-color="#EB611B" width="90%">
                        <a href="{{ url('users_list') }}" target="_blank"  style="color: white; font-size: 18px ; text-decoration:underline;">
                            Cliquez ici pour accéder à l'application
                        </a>
                    </mj-button>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <mj-wrapper background-color="#F9F9EC" border="1px solid #F9F9EC" full-width="full-width" border="0"
                    padding="0px">
            <mj-section padding="0px">
                <mj-column padding="0px">
                    <mj-text font-size="20px" align="center" padding-bottom="5px" padding-top="20px" color="#1E1F44">
                        Bonne journée,
                    </mj-text>
                    <mj-text font-size="20px" align="center" color="#1E1F44">
                        L'équipe BoxEaty
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
