<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BoxEaty{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% include 'utils/alerts.html.twig' %}
{% block body %}{% endblock %}

{% if app.user %}
    <input type="hidden" id="current-user" value="{{ app.user.id }}">
{% endif %}

<noscript>
    <div class="noscript">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo BoxEaty">
        <h1>Javascript désactivé</h1>
        <p>
            L'application BoxEaty ne peut pas fonctionner si le JavaScript n'est pas activé. Vous pouvez le réactiver
            dans les paramètres de votre navigateur.
        </p>
    </div>
</noscript>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
