{% extends 'template.html.twig' %}

{% set display_new_client_order = has_permission(constant('App\\Entity\\Role::MANAGE_CLIENT_ORDERS')) %}
{% set display_new_counter_order = not display_new_client_order and has_permission(
    constant('App\\Entity\\Role::REDIRECT_NEW_COUNTER_ORDER'),
    constant('App\\Entity\\Role::MANAGE_COUNTER_ORDERS')
) %}

{% block menu %}{{ display_new_counter_order ? 'Traçabilité' : 'Accueil' }}{% endblock %}
{% block page %}{{ display_new_counter_order ? 'Nouvelle commande comptoir' }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if display_new_counter_order %}
        {{ encore_entry_link_tags('counter_order') }}
    {% endif %}
{% endblock %}

{% block bodyclass %}home{% endblock %}
{% block content %}
    <div class="box home first-box">
        <h1 class="mb-5">Bienvenue !</h1>

        {% if display_new_counter_order  %}
            <div class="instructions">
                <div id="scan-box">
                    <img src="{{ asset('images/box.svg') }}" width=200 height=100 alt="Box">
                    <span>Scan de la box</span>
                </div>
                <i class="fas fa-angle-double-right caret"></i>
                <div id="scan-deposit-ticket">
                    <img src="{{ asset('images/ticket.svg') }}" width=200 height=100 alt="Ticket‑consigne">
                    <span>Scan du ticket‑consigne</span>
                </div>
                <i class="fas fa-angle-double-right caret"></i>
                <div disabled>
                    <img src="{{ asset('images/success.svg') }}" width=200 height=100 alt="Règlement">
                    <span>Règlement</span>
                </div>
            </div>

            <a href="{{ path('counter_orders_list') }}" class="primary big mt-5">Voir toutes les commandes comptoir</a>
        {% elseif display_new_client_order %}
            <div class="instructions">
                <div id="new-counter-order">
                    <img src="{{ asset('images/new-counter-order.svg') }}" width=200 height=100 alt="commande comptoir">
                    <span>Nouvelle commande comptoir</span>
                </div>
                <div id="new-client-order" data-has-default-crate="{{ hasDefaultCrate }}">
                    <img src="{{ asset('images/new-client-order.svg') }}" width=200 height=100 alt="commande client">
                    <span>Nouvelle commande client</span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('counter_order') }}
{% endblock %}
