{% set current_route = app.request.attributes.get('_route') %}

<div id="menu-dropdown" style="display:none">
    {% for item in menu_configuration() %}
        {% if item.type == "link" %}
            <a href="{{ path(item.route) }}" {{ item.route == current_route ? 'class="active"' }}>
                <i class="icon {% if item.icon is defined %}fas fa-{{ item.icon }}{% endif %}"></i>
                {{ item.name }}
            </a>
        {% elseif item.type == "category" %}
            <div class="category">
                <i class="chevron fas fa-chevron-left"></i>
                <i class="icon {% if item.icon is defined %}fas fa-{{ item.icon }}{% endif %}"></i> {{ item.name }}

                <div class="category-dropdown" style="display:none">
                    {% for subitem in item.items %}
                        <a href="{{ path(subitem.route) }}">{{ subitem.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
