{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="top">
            <div>
                <a href="{{ path('home') }}">
                    <img src="{{ asset('images/white-logo.svg') }}" class="logo" alt="Logo BoxEaty">
                </a>
                <p class="m-0 text-end" style="position:relative;top:-15px">{{ web_version }}</p>
            </div>
            <div class="breadcrumb">
                <span class="menu">{% apply upper %}{% block menu %}{% endblock %}{% endapply %}</span>

                {% set _page = block('page') ?? null %}
                {% if _page is not empty %}
                    <i class="separator">|</i>
                    <span>{% block page %}{% endblock %}</span>
                {% endif %}
            </div>
            <div class="filler"></div>
            <div class="header-right">
                <div class="current-user">
                    <img src="{{ asset('images/user.svg') }}"/>
                    {{ app.user.username }}
                </div>
                <div class="menu-container">
                    <img class="display-menu" src="{{ asset('images/menu.svg') }}"/>
                    {% include 'menu.html.twig' %}
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block filter_header %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
{% endblock %}
