{% for column in planning %}
    <div class="column">
        <h3>{{ column.title }}</h3>
        <div>
            <div class="order to-validate">
                <span class="title">EatSalad - Pessac</span>
                <label>Livraison souhaitée <strong>29/04/2021</strong></label>
                <label>Commande <strong>N°210429001</strong></label>

                <span class="muted">Livraison véhicule lourd</span>

                <span class="status"><i class="bxi bxi-validate"></i> A valider BoxEaty</span>
                <span class="valid">Validée</span>

                <a href="{# {{ path('client_orders_list', {order: 1}) }} #}">Voir la commande</a>
            </div>

            <div class="order planned">
                <span class="title">EatSalad - Pessac</span>
                <span class="muted">Livraison en véhicule léger</span>

                <span class="status"><i class="bxi bxi-calendar"></i> Planifiée</span>
                <a href="{# {{ path('client_orders_list', {order: 1}) }} #}">Voir la commande</a>
            </div>

            <div class="order preparing">
                <span class="title">EatSalad - Pessac</span>
                <label class="inline">Validée par <strong>Yann</strong></label>
                <span class="muted">Livraison à vélo</span>

                <span class="status"><i class="bxi bxi-loading"></i> En préparation</span>
                <a href="{# {{ path('client_orders_list', {order: 1}) }} #}">Voir la commande</a>
            </div>

            <div class="order delivering">
                <span class="title">EatSalad - Pessac</span>
                <label class="inline">Tournée <strong>N°654823</strong></label>
                <label class="inline">Livreur <strong>B. Coste</strong></label>
                <span class="muted">Livraison à vélo</span>

                <span class="status"><i class="bxi bxi-transit"></i> En transit</span>
                <a href="{# {{ path('client_orders_list', {order: 1}) }} #}">Voir la commande</a>
            </div>

            <div class="order preparing">
                <span class="title">EatSalad - Pessac</span>
                <label class="inline">Tournée <strong>N°238961</strong></label>
                <label class="inline">Livreur <strong>A. Bounader</strong></label>
                <span class="muted">Livraison à vélo</span>

                <span class="status"><i class="bxi bxi-preparing"></i> En préparation</span>
                <a href="{# {{ path('client_orders_list', {order: 1}) }} #}">Voir la commande</a>
            </div>

            <div class="order late">
                <span class="title">EatSalad - Pessac</span>
                <label class="inline">Tournée <strong>N°785236</strong></label>
                <label class="inline">Livreur <strong>L. Adamski</strong></label>
                <span class="muted">Livraison à vélo</span>

                <span class="status"><i class="bxi bxi-late"></i> Retard</span>
                <a href="{# {{ path('client_orders_list', {order: 1}) }} #}">Voir la commande</a>
            </div>

            {% for order in column.orders %}
                <div class="to-validate"></div>
            {% endfor %}
        </div>
    </div>
{% endfor %}