{% macro order_data(order) %}
    data-id="{{ order.id }}"
    data-expected-delivery="{{ order.expectedDelivery | date('d/m/Y') }}"
    data-address="{{ order.client.address }}"
    data-delivery-method="{{ order.deliveryMethod.id }}"
{% endmacro %}

{% macro order_link(order, link_new_tab) %}
    <a href="{{ path('client_orders_list', {'action': 'show', 'action-data': order.id}) }}"
       {% if link_new_tab %}target="_blank"{% endif %}>
        Voir la commande
    </a>
{% endmacro %}

{% macro order_header(order) %}
    <span class="title">
        <span>
            <span class="number"></span>
            {{ order.client.name }}
        </span>

        {% if order.automatic %}
            <i class="bxi bxi-automatic"></i>
        {% endif %}
    </span>
{% endmacro %}

{% macro order_card(order, link_new_tab = false) %}
    {% if order.expectedDelivery < date() %}
        <div class="order late" {{ _self.order_data(order) }}>
            {{ _self.order_header(order) }}

            {% if order.deliveryRound %}
                <label class="inline">Tournée <strong>N°{{ order.deliveryRound.number }}</strong></label>
                <label class="inline">Livreur <strong>{{ order.deliveryRound.deliverer.username }}</strong></label>
            {% endif %}

            <span class="muted">Livraison {{ order.deliveryMethod.name | lower }}</span>

            <div class="side-by-side">
                <span class="status"><i class="bxi bxi-late"></i> Retard</span>
                <button class="primary icon late-order-send-mail"><i class="fas fa-envelope"></i></button>
            </div>
            {{ _self.order_link(order, link_new_tab) }}
        </div>
    {% elseif order.status.code == constant('App\\Entity\\Status::CODE_ORDER_TO_VALIDATE_BOXEATY') %}
        <div class="order to-validate" {{ _self.order_data(order) }}>
            {{ _self.order_header(order) }}
            <label>Commande <strong>N°{{ order.number }}</strong></label>
            <label>Livraison souhaitée <strong>{{ order.expectedDelivery | date('d/m/Y') }}</strong></label>

            <span class="muted">Livraison {{ order.deliveryMethod.name | lower }}</span>

            <span class="status"><i class="bxi bxi-validate"></i> {{ order.status.name }}</span>
            <button class="primary validate">Valider</button>

            {{ _self.order_link(order, link_new_tab) }}
        </div>
    {% elseif order.status.code == constant('App\\Entity\\Status::CODE_ORDER_PLANNED') %}
        <div class="order planned" {{ _self.order_data(order) }}>
            {{ _self.order_header(order) }}
            <span class="muted">Livraison {{ order.deliveryMethod.name | lower }}</span>
            <span>Validée par <strong>{{ order.validator ? order.validator.username }}</strong></span>

            <span class="status"><i class="bxi bxi-calendar"></i> {{ order.status.name }}</span>
            {{ _self.order_link(order, link_new_tab) }}
        </div>
    {% elseif order.deliveryRound and order.status.code in [constant('App\\Entity\\Status::CODE_ORDER_AWAITING_DELIVERER'), constant('App\\Entity\\Status::CODE_ORDER_TRANSIT')] %}
        <div class="order delivering" {{ _self.order_data(order) }}>
            {{ _self.order_header(order) }}
            <label class="inline">Tournée <strong>N°{{ order.deliveryRound.number }}</strong></label>
            <label class="inline">Livreur <strong>{{ order.deliveryRound.deliverer.username }}</strong></label>
            <span class="muted">Livraison {{ order.deliveryRound.deliveryMethod.name | lower }}</span>

            {% if order.status.code == constant('App\\Entity\\Status::CODE_ORDER_AWAITING_DELIVERER') %}
                <span class="status"><i class="bxi bxi-awaiting-deliverer"></i> {{ order.status.name }}</span>
            {% else %}
                <span class="status"><i class="bxi bxi-transit"></i> {{ order.status.name }}</span>
            {% endif %}
            {{ _self.order_link(order, link_new_tab) }}
        </div>
    {% elseif order.preparation and order.status.code in [constant('App\\Entity\\Status::CODE_ORDER_PREPARING'), constant('App\\Entity\\Status::CODE_ORDER_PREPARED')] %}
        <div class="order preparing" {{ _self.order_data(order) }}>
            {{ _self.order_header(order) }}

            {% if order.deliveryRound %}
                <label class="inline">Tournée <strong>N°238961</strong></label>
                <label class="inline">Livreur <strong>{{ order.deliveryRound.deliverer.username }}</strong></label>
                <span class="muted">Livraison {{ order.deliveryMethod.name | lower }}</span>

                <span class="status" title="Affecté à la tournée N°{{ order.deliveryRound.number }}">
                    <i class="bxi bxi-preparing"></i> {{ order.status.name }}
                </span>
            {% else %}
                <span class="status" title="Aucune livraison affectée"><i
                        class="bxi bxi-loading"></i> {{ order.status.name }}</span>
            {% endif %}

            {{ _self.order_link(order, link_new_tab) }}
        </div>
    {% endif %}
{% endmacro %}
