<div class="row">
    <div class="col-12">
        <label>
            Nom du groupe
            <input type="text" name="name" class="data" placeholder="Nom du groupe" value="{{ group.name }}" required/>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Statut</span>

        <input type="radio" id="{{ group.id ? 'edit' : 'new' }}-group-active" name="active" class="data" value="1" {{ group.active ? 'checked' }}/>
        <label for="{{ group.id ? 'edit' : 'new' }}-group-active">Actif</label>

        <input type="radio" id="{{ group.id ? 'edit' : 'new' }}-group-inactive" name="active" class="data" value="0" {{ not group.active ? 'checked' }}/>
        <label for="{{ group.id ? 'edit' : 'new' }}-group-inactive">Inactif</label>
    </div>
    <div class="col-12">
        <label>
            Nom de l'établissement
            <input type="text" name="establishment" class="data" placeholder="Nom de l'établissement" value="{{ group.establishment }}" required/>
        </label>
    </div>
</div>
