<div class="row">
    <div class="col-12">
        <label>
            Nom
            <input type="text" name="username" class="data" placeholder="Nom d'utilisateur" value="{{ user.username }}" autocomplete="off" required/>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Statut</span>

        <input type="radio" id="new-user-active" name="active" class="data" value="1" {{ user.active ? 'checked' }}/>
        <label for="new-user-active">Actif</label>

        <input type="radio" id="new-user-inactive" name="active" class="data" value="0" {{ not user.active ? 'checked' }}/>
        <label for="new-user-inactive">Inactif</label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Email
            <input type="text" name="email" class="data" placeholder="Adresse email" value="{{ user.email }}" required/>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Rôle
            <select name="role" class="data" data-s2 data-placeholder="Sélectionnez un rôle" required>
                {% for role in roles %}
                    <option value="{{ role.id }}" {{ user.role and role.id == user.role.id ? 'selected' }}>{{ role.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Mot de passe
            <input type="password" name="password" class="data" autocomplete="new-password"
                   placeholder="Mot de passe {{ user.id ? '(laisser vide pour ne pas modifer)' }}"
                    {{ not user.id ? 'required' }}/>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Confirmer le mot de passe
            <input type="password" data-repeat="password" class="data"
                   placeholder="Mot de passe {{ user.id ? '(laisser vide pour ne pas modifer)' }}"
                    {{ not user.id ? 'required' }}/>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Groupe(s)
            <select name="groups" class="data" data-s2="group" data-placeholder="Sélectionnez un ou plusieurs clients" multiple required>
                {% for group in user.groups %}
                    <option value="{{ group.id }}" selected>{{ group.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Client(s) <i data-toggle="tooltip" title="Si vous ne sélectionnez rien, tous les clients du groupe seront rattachés automatiquement"></i>
            <select name="clients" class="data" data-s2="client" data-placeholder="Sélectionnez un ou plusieurs clients" multiple required>
                {% for client in user.clients %}
                    <option value="{{ client.id }}" selected>{{ client.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>
