<div class="row">
    <div class="col-12">
        <label>
            Nom
            <input type="text" name="username" class="data" placeholder="Nom d'utilisateur" value="{{ user.username }}" autocomplete="off" required/>
        </label>
    </div>
    <div class="col-12 toggle">
        <span class="label">Statut</span>

        <input type="radio" id="{{ user.id ? 'edit' : 'new' }}-user-active" name="active" class="data" value="1" {{ user.active ? 'checked' }}/>
        <label for="{{ user.id ? 'edit' : 'new' }}-user-active">Actif</label>

        <input type="radio" id="{{ user.id ? 'edit' : 'new' }}-user-inactive" name="active" class="data" value="0" {{ not user.active ? 'checked' }}/>
        <label for="{{ user.id ? 'edit' : 'new' }}-user-inactive">Inactif</label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Email
            <input type="text" name="email" class="data" placeholder="Adresse email" value="{{ user.email }}" required/>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Rôle
            <select name="role" class="data" data-s2 data-placeholder="Sélectionnez un rôle" required>
                {% for role in roles %}
                    {% if role.code != 'SUPER_ADMINISTRATEUR' or app.user.role.code == 'SUPER_ADMINISTRATEUR' %}
                        <option value="{{ role.id }}" {{ user.role and role.id == user.role.id ? 'selected' }}>{{ role.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
    </div>
    {% if user.id %}
        <div class="col-12 change-password">
            <button class="primary change-password w-100 mt-2">Changer le mot de passe</button>
        </div>
    {% endif %}

    {% if user.id and user.id == app.user.id %}
        <div class="col-12 change-password" style="display:none">
            <label>
                Mot de passe actuel
                <input type="password" name="currentPassword" class="data" placeholder="Mot de passe actuel"/>
                <span class="floating-icon show-password">
                    <span><i class="far fa-eye"></i></span>
                </span>
            </label>
        </div>
    {% endif %}
    <div class="col-md-6 col-12 change-password" style="display:none">
        <label>
            Nouveau mot de passe
            <input type="password" name="password" class="data" autocomplete="new-password"
                   placeholder="Mot de passe {{ user.id ? '(vide pour ne pas modifer)' }}"
                    {{ not user.id ? 'required' }}/>
            <span class="floating-icon show-password">
                <span><i class="far fa-eye"></i></span>
            </span>
        </label>
    </div>
    <div class="col-md-6 col-12 change-password" style="display:none">
        <label>
            Confirmation du nouveau mot de passe
            <input type="password" data-repeat="password" class="data"
                   placeholder="Mot de passe {{ user.id ? '(vide pour ne pas modifer)' }}"
                    {{ not user.id ? 'required' }}/>
            <span class="floating-icon show-password">
                <span><i class="far fa-eye"></i></span>
            </span>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Groupe(s)
            <select name="groups"
                    class="data"
                    data-s2="group"
                    data-placeholder="Sélectionnez un ou plusieurs groupes"
                    multiple
                    required>
                {% for group in user.groups %}
                    <option value="{{ group.id }}" selected>{{ group.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-md-6 col-12">
        <label>
            Client(s)
            <i data-toggle="tooltip" title="Si vous ne sélectionnez rien, tous les clients du groupe seront rattachés automatiquement"></i>
            <select name="clients"
                    class="data"
                    data-s2="client"
                    data-include-params="select[name=groups]"
                    data-placeholder="Sélectionnez un ou plusieurs clients"
                    multiple
                    {{ user.groups | length > 1 ? 'disabled' }}>
                {% for client in user.clients %}
                    <option value="{{ client.id }}" selected>{{ client.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>
