{% extends 'template.html.twig' %}

{% block menu %}Paramétrage{% endblock %}
{% block page %}Global{% endblock %}

{% block content %}
    <div class="box first-box global-settings">
        <h1>Configuration des exports CSV</h1>

        <div class="input-with-validation">
            <label>
                Encodage des exports CSV
                <select name="{{ constant('App\\Entity\\GlobalSetting::CSV_EXPORTS_ENCODING') }}" class="data" data-s2 data-no-empty-option>
                    <option value="{{ constant('App\\Service\\ExportService::ENCODING_UTF8') }}"
                            {{ csv_encoding.value == constant('App\\Service\\ExportService::ENCODING_UTF8') ? 'selected' }}>
                        UTF8
                    </option>
                    <option value="{{ constant('App\\Service\\ExportService::ENCODING_WINDOWS') }}"
                            {{ csv_encoding.value == constant('App\\Service\\ExportService::ENCODING_WINDOWS') ? 'selected' }}>
                        1252 Europe de l'ouest Windows
                    </option>
                </select>
            </label>
            <button class="secondary" type="submit">Enregistrer</button>
        </div>
    </div>

    <div class="box global-settings">
        <h1>Configuration mot de passe borne</h1>

        <div class="input-with-validation">
            <label>
                Mot de passe de la borne - Visiteur
                <input name="{{ constant('App\\Entity\\GlobalSetting::EMPTY_KIOSK_CODE') }}" class="data" value="{{ empty_kiosk_code.value }}" />
            </label>
            <button class="secondary" type="submit">Enregistrer</button>
        </div>
        <div class="input-with-validation">
            <label>
                Mot de passe de la borne - SuperAdmin
                <input name="{{ constant('App\\Entity\\GlobalSetting::SETTING_CODE') }}" class="data" value="{{ setting_code.value }}"/>
            </label>
            <button class="secondary" type="submit">Enregistrer</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('setting') }}
{% endblock %}
